    <div class="card-body col-12">
    <%= render 'shared/errors', object: note %>

        <%= form_for note, url: notes_teams_challenge_path do |f| %>
            <%= f.hidden_field :team_challenge_id, value: note.team_challenge_id %>
            <div class="form-group">
                <%= f.text_area :content, class: 'form-control', required: true %>
            </div>
            <div class="btn-group-justified">
                <%=f.submit "Submit", class: 'btn btn-primary' %>
            </div> 
        <% end %>
    </div>